


* {
    font-family: "Poetsen One", sans-serif;
    margin: 0;
  }
  body {
   background-image: url(aboutnew.jpg);
   background-repeat: no-repeat;
   background-size: cover;

  }
  .container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center; 
    
  }
  
  .container h1{
      font-size: 50px;
      font-weight: bold;
      color: #fe5f55;
      align-items: center;
      
      margin-top: 10px;
      
  }
  
  .box{
      width: 70%;
      float: right;
      margin-top: 55px;
      color: #ac5d5d;
  }
  
  .box h1{
      width: 475px;
      text-align: center;
      font-size: 40px;
      color: #fe5f55;
  }
  
  .box p{
      width: auto;
      text-align: justify;
       margin-top: 18px;
       font-size: 22px;
       padding-right: 40%;
       color: white;
  }
  
  button{
      font-size: 18px;
      margin-top: 25px;
      background: #fe5f55;
      color: white;
      border: none;
      padding: 9px 20px;
      border-radius: 20px;
      cursor: pointer;
  }
  @import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.btn{
  margin-top: 2rem;
  width: 150px;
  padding: 12px;
  color: #fff;
  background: tomato;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  background: rgba(212, 48, 48, 0.76);
  transition: 0.4s;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 8%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
.header .logo{
  font-size: 22px;
  font-weight: bolder;
  color: #fff;
  padding-right: 10px;
  margin-right: 20rem;
}
.header .logo i{
  color: #fff;
  padding: 0.5rem;
}
.header .navbar a{
  font-size: 1.1rem;
  margin: 0 1rem;
  color:black;
  float: left;
}
.header .navbar a:hover{
  color: #baa6cf;
}
.header .btn{
  background: transparent;
  color: tomato;
  border: 1px solid tomato;
  font-size: 12px;
  padding: 8px;
}

  