.contact-container {
    padding: 24px;
    margin: 20px auto;
    max-width: 600px;
    background-color:#fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact-form textarea {
    height: 150px;
}
.contact-form input[type="submit"] {
    background-color: #c22121;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color: #a11717;
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.btn{
  margin-top: 2rem;
  width: 150px;
  padding: 12px;
  color: #fff;
  background: tomato;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  background: rgba(212, 48, 48, 0.76);
  transition: 0.4s;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 8%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
.header .logo{
  font-size: 22px;
  font-weight: bolder;
  color: #fff;
  padding-right: 10px;
  margin-right: 20rem;
}
.header .logo i{
  color: #fff;
  padding: 0.5rem;
}
.header .navbar a{
  font-size: 1.1rem;
  margin: 0 1rem;
  color:black;
  float: left;
}
.header .navbar a:hover{
  color: #baa6cf;
}
.header .btn{
  background: transparent;
  color: tomato;
  border: 1px solid tomato;
  font-size: 12px;
  padding: 8px;
}